@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --secondaryColor: gray;
  --btnColor: black;
  --hoverBtn: rgb(109, 109, 109);
  --accentColor: rgb(145, 66, 66);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --textcolor: #eff3e8;
    --backgroundColor: #130b0b;
    --primaryBtn: #6b35bb;
    --secondaryBtn: #70746a;
    --accent: #403058;
    --textHover: #cecfcc;
  }
} */

body {
  margin: 0 auto;
  padding: 0;
  background-color: white;
}

.textStroke {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
